/build-tools/ckeditor/ckbuilder.jar
/cache
/digests
/doc
/inc
/public
/var
\.php-cs-fixer.cache
\.htaccess
dotclear.conf.php

# composer stuff
/bin/php-cs-fixer.bat
/bin/php-cs-fixer.phar
/bin/phpstan.bat
/bin/phpstan.phar
/bin/phpstan
/vendor
/composer.phar
/composer.lock
