#
# To run analyse:
# bin/phpstan analyse --memory-limit=-1
#
# or (replacing conf level by 1, … up to 8):
# bin/phpstan analyse -l 1 --memory-limit=-1

includes:
#  - phpstan.local.neon

parameters:
  level: 5

  bootstrapFiles:
    - phpstan.bootstrap

  fileExtensions:
    - php
    - in

  scanFiles:
    - index.php

  paths:
    - admin
    - src

  excludePaths:
    - inc/*

  reportUnmatchedIgnoredErrors: false

  ignoreErrors:

    # Intensive use of magic __set/__get/__call/__invoke causes theses wrong warnings
    #- message: '#Access to an undefined property form[a-zA-Z0-9\\_]+::#'
    #  path: %currentWorkingDirectory%

# Notes:
#
# Use /* @phpstan-ignore-next-line */ or // @phpstan-ignore-line
# to ignore some specific lines in code
