#
# To run analyse:
# bin/phpstan analyse --memory-limit=-1
#
# or (replacing conf level by 1, … up to 8):
# bin/phpstan analyse -l 1 --memory-limit=-1

parameters:
  level: 5

  bootstrapFiles:
    - phpstan.bootstrap

  fileExtensions:
    - php

  scanFiles:
    - index.php
    - admin/index.php
    - admin/install/index.php
    - src/Process/Distrib/upgrade-cli.php

  paths:
    - src

# Notes:
#
# Use /* @phpstan-ignore-next-line */ or // @phpstan-ignore-line
# to ignore some specific lines in code
